footer#colophon {
	position: relative;
	background: #eee;
	border-top: 8px solid #ccc;
	padding: 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	.f-part {
		margin: 50px 30px;
	}

	.f-logo-main {
		display: flex;
		flex-direction: column;
		.emeon-info{
			display: block;
			font-size: 12px;
			font-weight: bold;
			color: #555555;
			line-height: 30px;
			text-align: center;
		}
		img {
			max-width: 200px;
		}
	}

	.site-info {
		font-size: 13px;
		font-weight: bold;
		color: #999;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;

		.footer-socials {
			img {
				max-width: 75px;
				max-height: 75px;
			}
		}
	}

	.footer-register {
		font-size: 13px;
		a {
			text-decoration: underline;
		}
	}

	.footer-logos {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		.f-logo {
			display: flex;
			flex-direction: column;
			margin: 0 5px;
			justify-content: center;
			font-size: 13px;
			color: #999;
			img {
				max-width: 117px;
				max-height: 117px;
			}
		}
	}

	@media screen and (max-width: 991px) {
		flex-direction: column;
		.f-part {
			margin: 0 auto 30px auto;
			img {
				max-height: 75px;
			}
		}
	}
}
