.site-header {
    background: #ffffff;
    padding: 0;
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	transition: box-shadow 0.2s;

	&__content.site-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		height: 120px;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
		transition: height 0.2s;
	}

	.home-link {
		display: block;
	}

	.site-branding,
	.nav-shop {
		min-width: 250px;
	}

	.logo-wrap {
		display: block;
		height: 100px;
		width: 100px;
		opacity: 1;
		visibility: visible;
		transition: opacity 0.2s, visibility 0.2s;
	}

	.logo-image {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	.slogan {
		display: none;
		font-family: "indie", "Liberation Sans Narrow", "Arial Narrow", sans-serif;
		font-style: normal;
		font-size: 18px;
		font-weight: normal;
		white-space: nowrap;
	}

	.menu {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		margin: 0;
		list-style: none;
	}

	.main-navigation {
		flex-grow: 1;

		.menu {
			&-item {
				&:not(:last-child) {
					margin-right: 50px;
				}
			}
		}
	}

	.nav-shop {
		.menu {
			justify-content: flex-end;
		}

		.menu-item.search {
			margin-right: 15px;
		}
	}

	&.scrolled {
		box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

		.site-header__content {
			height: 50px;
		}

		.slogan {
			display: block;
		}

		.logo-wrap {
			display: none;
		}
	}
}
.desktop {
	display: block;
}

.mobile {
	display: none;
}

@media screen and (max-width: 767px) {
	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}
}
