.m-n1 {
	margin: -.25rem !important
}

.m-n2 {
	margin: -.5rem !important
}

.m-n3 {
	margin: -1rem !important
}

.m-n4 {
	margin: -1.5rem !important
}

.m-n5 {
	margin: -3rem !important
}

.mx-n1 {
	margin: 0 -.25rem !important
}

.mx-n2 {
	margin: 0 -.5rem !important
}

.mx-n3 {
	margin: 0 -1rem !important
}

.mx-n4 {
	margin: 0 -1.5rem !important
}

.mx-n5 {
	margin: 0 -3rem !important
}

.about-us-content {
	margin: 0 auto;
}
