@import "buttons";

@import "fields";

.emeon-form {
  max-width: 700px;
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  border: none;

  fieldset {
    border: none;
    padding: 0;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .ad-type{
      width: 100%;
      text-align: left;
      margin-bottom: 20px;

      .ad-type-selectors{
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;

        label {
          border: 1px solid #ccc;
          width: 50%;
          padding: 10px;
          text-align: center;
          cursor: pointer;
        }

        input[type=radio]:checked + label {
          background: #efefef;
          font-weight: bold;
        }

        input[type=radio] {
          display: none;
        }
      }
    }

    .logo-wrap {
      width: 256px;
      height: auto;
      text-align: center;
      label {
        font-size: 11px;
      }
      .logo-area {
        height: 256px;
        width: 256px;
        border: 1px solid #ccc;
        cursor: pointer;
        position: relative;

        .logo-remove{
          position: absolute;
          top: 0;
          right: 0;
          z-index: 999;
          width: 30px;
          height: 30px;
          display: none;
          &::before,
          &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            height: 1px;
            width: 50%;
            background-color: #000;
          }
          &::before {
            transform: translate(-50%, -50%) rotate(45deg);
          }
          &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }

        &.added {
          .logo-remove {
            display: block;
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

      }
    }

    .general-info {
      width: 300px;
    }

    .contact-info {
      width: 100%;
    }

    .ad-text {
      width: 100%;
    }

    input[type=text], input[type=email], textarea, select {
      width: 100%;
      padding: 7px;
    }

    input[type=file]{
      display: none !important;
      visibility: hidden;
      opacity: 0;
    }

    textarea {
      font-size: 12px;
    }

  } /* fieldset */

} /* emeon-form */
