.form-login {
	&-wrapper {
		max-width: 500px;
		margin: 0 auto;
	}

	.form-check-label {
		cursor: pointer;
	}

	label.error {
		position: relative;
		&:after {
			position: absolute;
			content: "\f534";
			font-family: "dashicons", sans-serif;
			font-size: 19px;
			font-kerning: revert;
			color: red;
			border-radius: 100%;
			margin: 0;
			border: none;
			padding: 0;
			line-height: 1;
			-webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.41);
			-moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.41);
			box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.41);
			display: block;
			top: 50%;
			transform: translateY(-50%);
			right: -27px;
		}
	}
}
