.search-filters {
	position: absolute;
	z-index: 2;
	right: 60px;
	transition: all ease-in-out .2s;
	overflow: hidden;
	top: calc( 50% - 20px );
	width: 0;
	background: #fff;
	height: 40px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	box-sizing: border-box;

	&.visible {
		width: calc( 100% - 174px );
	}

	.search-field {
		position: relative;
		width: 100%;
	}

	@media screen and ( max-width: 768px ) {
		right: 138px;
		&.visible {
			width: calc(100% - 265px);
		}
	}

	.select2-selection.search {
		background-color: #fff;
		border: none;
		border-bottom: 1px solid #aaa;
		border-radius: 0;
		font-size: 90%;
	}
}
