header.site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: none;
    padding: 0;
    position: relative;
    flex-wrap: wrap;
	border-bottom: 1px solid #ccc;
	max-width: 1282px;
	margin: 0 auto;
	height: 50px;

    div#content > * {
	    height: 50px;
    }
    div#content {
	    width: 1440px;
	    margin: 0 auto;
	    padding: 0 20px;
	}

	.site-branding {
		position: absolute;
		z-index: 2;
		background: #fff;
		padding: 11px;
		border-radius: 0 200px 200px;
		top: 49px;
		text-align: center;
		font-style: italic;
		font-size: 10px;
		border: 1px solid #ccc;
		transition: all ease-in-out .3s;

		a {
			display: flex;
			align-items: center;
			height: 100%;

			img {
				height: 100%;
				width: inherit;
				max-height: 205px;
			}
		}
	}

	.site-content {
		display: flex;
	    flex-direction: row;
	    justify-content: space-between;
	    align-items: center;
	    flex-wrap: wrap;
		width: 100%;

		.inline-branding {
			width: 35%;
			display: flex;
			justify-content: flex-start;

			.slogan {
				font-family: "Liberation Sans Narrow", "Arial Narrow", sans-serif;
				font-style: italic;
				font-size: 18px;
				font-weight: normal;
			}

			.logo-wrap {
				display: none;
			}
		}

		.main-navigation {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			font-size: 14px;
			width: 40%;
			text-transform: uppercase;
		}

		ul#primary-menu {

			&> li.menu-item-has-children:hover > ul.sub-menu {
			    position: absolute;
			    display: flex;
			    flex-direction: row;
			    width: 100vw;
			    left: 0;
			    right: 0;
			    flex-wrap: wrap;
			    top: 100%;
			    z-index: 9999 !important;
			    background: #c6c6c6;
			    overflow: hidden;
			    padding: 40px;
			    justify-content: center;

			    li {
				    position: relative;
				    display: flex;
				    flex-direction: column;
				    white-space: pre-wrap;
				    &> a {
					    font-weight: 700;
				    }
			    }
			    li.menu-item-has-children > ul.sub-menu {
				    display: flex;
				    flex-direction: column;
				    float: none;
				    left: 0;
				    border: none;
				    box-shadow: none;
				    position: inherit;
				    margin-top: 10px;
				    li.menu-item {
					    padding: 0;
					    a {
						    font-weight: 500;
					    }
				    }
			    }
			}
			li {
			    padding: 15px 15px;
			    position: inherit;
			}
		}
		.nav-shop {
		    display: flex;
		    flex-direction: row;
		    width: 15%;
		    justify-content: flex-end;
		    > ul {
			    list-style: none;
			    padding: 0;
			    margin: 0;
			    width: 15%;
			    display: flex;
			    flex-direction: row;
			    align-items: center;
			    justify-content: flex-end;

				li {
				    padding: 5px 10px;
				    position: relative;
				    font-size: 17px;
				    a.cart-contents {
					    display: flex;
					    flex-direction: row;
					    align-items: center;
					    span.count {
						    position: absolute;
						    top: -5px;
						    right: -2px;
						    background: #000;
						    height: 18px;
						    width: 18px;
						    display: flex;
						    align-items: center;
						    justify-content: center;
						    border-radius: 10px;
						    color: #fff;
						    font-size: 11px;
					    }
					}
				}
				.widget.woocommerce.widget_shopping_cart {
				    display: none;
				    position: absolute;
				    right: 0;
				    width: 300px;
				    background: #fff;
					padding: 20px;
					box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
					p.woocommerce-mini-cart__total.total {
					    margin: 10px 0;
					    padding: 10px 0;
					    border-top: 1px solid #efefef;
					    border-bottom: 1px solid #efefef;
					}
					p.woocommerce-mini-cart__buttons.buttons {
					    margin: 0;

					    a.button.wc-forward {
						    display: none;
						}

						a.button.checkout.wc-forward {
						    display: block;
						    padding: 10px;
						    background: #efefef;
						    text-align: center;
						}
					}

				}
				.widget.woocommerce.widget_shopping_cart.open {
					display: flex;
					z-index: 9999;
				}
			}
			ul.woocommerce-mini-cart.cart_list.product_list_widget {
			    display: flex;
			    flex-direction: column;
			    list-style: none;
			    padding: 0;
			    margin: 0;

			}

			li.woocommerce-mini-cart-item.mini_cart_item {
			    padding: 0 10px 0 0;
				margin: 0 0 10px 0;
			    font-size: 14px;
			    a.remove.remove_from_cart_button {
					position: absolute;
				    top: 0;
				    right: 0;
				    text-align: right;
				    width: 19px;
				}

			    a {
				   display: block;
				   width: 100%;
			    }

			    a img {
				    max-width: 60px;
					float: left;
					margin-right: 10px;
			    }
			}
		}
	}

	.main-search {
	    width: 100%;
	    padding: 10px 0 0 0;
	    display: none;

	    label.screen-reader-text {
		    display: none;
	    }

	    &.open {
			display: flex;
			justify-content: center;
	    }

	    input[type="search"] {
		    width: 100%;
		    background: transparent;
		    border-radius: 0;
		    border: none;
		    height: 60px;
			width: 100%;
	    }

	    button[type="submit"] {
		    display: none;
		}
	}
}
.desktop {
	display: block;
}

.mobile {
	display: none;
}

@media screen and (max-width: 48em) {
	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}

	header.site-header .site-content {
		padding: 0 10px !important;

		.site-branding {
		    order: 2;
		    width: 50%;
		    justify-content: center;
		}

		nav#site-navigation {
		    order: 1;
		    width: 25%;
		    justify-content: flex-start;

		    i,button {
			    padding: 5px 10px;
				font-size: 17px;
				min-width: 37px;
				background: none;
				border: none;
		    }

		    .toggle-mobile-menu:before {
			    font-family: "Font Awesome 5 Pro";
			    content: "\f0c9";
		    }

		    .toggle-mobile-menu.open:before {
				font-family: "Font Awesome 5 Pro";
			    content: "\f00d";
		    }
		}

		.nav-shop {
		    order: 3;
		    width: 25%;
		}

		.menu-header-menu-container {
			position: absolute;
		    left: -100%;
		    top: 100%;
		    height: 100vh;

		    ul#primary-menu {
			    display: flex;
			    flex-direction: column;
			    padding: 20px;

			    ul.sub-menu {
				    display: none;
			    }

			    li {
				    padding: 10px 0;
			    }

			    li.menu-item-has-children {
				    position: relative;
				    display: flex;
				    justify-content: space-between;
				    flex-wrap: wrap;

				    &:after {
					    font-family: "Font Awesome 5 Pro";
						content: "\f107";
						position: absolute;
						right: 0;
						top: 0;
						padding: 10px;
				    }

				    ul.sub-menu {
					    position: relative;
						padding: 0;
						box-shadow: none;
						background: transparent;

						li.menu-item-has-children ul.sub-menu {
							display: none;
						}

						li.menu-item-has-children:hover > ul.sub-menu {
							display: flex;
						}
				    }

				    &:hover > ul.sub-menu {
						display: flex;
						flex-direction: column;
					}
			    }
			}
		}

		.menu-header-menu-container.open {
		    left: 0;
		    background: #fff;
		    width: 100%;
		    z-index: 10;
		}
	}
}
