html {
	box-sizing: border-box;
	height: 100%;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	height: 100%;
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */

	&.disable-scroll {
		height: 100vh;
		overflow: hidden;
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */

	&.img-cover {
		object-fit: cover;
	}

	&.img-contain {
		object-fit: contain;
	}
}

.post-thumbnail {
	display: block;
	height: 200px;
	width: 100%;
	max-width: 200px;
	margin: 0 auto;
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

a, a:hover {
	text-decoration: none;
}

a:focus, button, input, select, password, textarea {
	outline: none;
}

@import "tables";
