header.entry-header {
	display: none;
}

.emeon-account {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	align-content: space-between;

	h2 {
		font-size: 18px;
		line-height: 1;
		text-align: center;
		padding: 0 0 30px 0;
		margin: 0;
	}

	.emeon-account-menu {
		width: 100%;
		max-width: 300px;

		ul {
			list-style: none;
			text-align: left;

			li a {
				display: block;
				border-bottom: 1px solid #ccc;
				cursor: pointer;
				padding: 12px;

				&:hover {
					background: #eee;
				}
			}
		}
	}

	.emeon-account-content {
		width: 100%;
		max-width: calc(100% - 306px);
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		position: relative;

		#my-ads {
			position: relative;

			.add-link {
				text-align: right;
				margin: 0;
				padding: 4px;
				vertical-align: middle;

				a {
					font-size: 24px;
					color: #555;
					opacity: .4;
					transition: opacity ease-in-out .2s;

					&:after {
						font-family: Dashicons, sans-serif;
						font-size: 32px;
						content: "\f10f";
					}

					&:hover {
						opacity: 1;
					}
				}
			}
		}

		.account-content {
			display: none;

			&.viz {
				display: block;
			}

			.my-articles {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: space-between;
				align-content: space-between;

				/* Single card */
				.account-article {
					width: 100%;
					margin: 0 5px 10px;
					max-width: 200px;
					border: none;
					padding: 10px;
					position: relative;

					&:hover {
						-webkit-box-shadow: 0 0 9px 0 rgba(34, 60, 80, 0.21);
						-moz-box-shadow: 0 0 9px 0 rgba(34, 60, 80, 0.21);
						box-shadow: 0 0 9px 0 rgba(34, 60, 80, 0.21);
					}

					.article-menu {
						display: block;
						position: absolute;
						top: 4px;
						right: 4px;
						z-index: 1;
						opacity: .8;
						cursor: pointer;
						transition: all .4s;

						&:before {
							content: "\f329";
							font-family: Dashicons, sans-serif;
							font-size: 18px;
							color: #999;
							width: 20px;
							height: 20px;
							background: #fff;
							display: block;
							border-radius: 100%;
							line-height: 18px;
							padding: 0;
						}

						.article-menu__menu {
							position: absolute;
							display: block;
							visibility: hidden;
							opacity: 0;
							transition: all .4s;
							background: #fff;
							border: 1px solid #999;
							padding: 0;
							top: 5px;
							right: 5px;
							width: 100px;
							border-radius: 0;

							li {
								list-style: none;
								line-height: 1;
								padding: 0;

								&.item-bl {
									border-bottom: 1px dotted #ccc;
									color: #7f2a28;
								}

								a {
									display: block;
									width: 100%;
									cursor: pointer;
									font-size: 12px;
									line-height: 1;
									padding: 7px;

									&:hover {
										background: #ccc;
									}
								}


							}
						}

						&:hover {
							opacity: 1;

							&:before {
								background: #999;
							}

							.article-menu__menu {
								visibility: visible;
								opacity: 1;
							}
						}
					}

					.actualize-article {
						display: none; // no need for now
						bottom: 0;
						left: 0;
						width: 100%;
						border: none;
						border-radius: 0;
						padding: 12px;
						position: absolute;
						cursor: pointer;
						opacity: .8;
						transition: opacity .3s ease-in-out;

						&:hover {
							opacity: 1;
						}
					}

					.post-thumbnail {
						height: 191px;
					}

				}

			}

		}

		#pass {

			form.form-password {
				position: relative;
				padding-top: 40px;

				input, button {
					width: 100%;
					padding: 9px;
					font-size: 12px;
					border-radius: 0;
					border: 1px solid #ccc;
					margin: -1px 0 0 0;
					cursor: pointer;
					box-sizing: border-box;
					display: block;
				}

				// Toggle view
				label[for=view-pass] {
					position: relative;
					font-family: Dashicons, sans-serif;
					font-size: 28px;
					color: #999;
					display: block;

					&:before {
						content: "\f530";
						position: absolute;
						cursor: pointer;
						right: 0;
						top: -45px;
					}
				}

				#view-pass {
					display: none;

					&:checked + label[for=view-pass]:before {
						content: "\f177"
					}
				}


			}
		}

		#contacts {

			form.form-contactus {
				position: relative;

				fieldset {
					flex-direction: column;

					.control-wrap {
						padding: 0;
						margin: -1px 0 0 0;


						input.emeon-control, button.button-cta {
							width: 100%;
							padding: 9px;
							font-size: 12px;
							border-radius: 0;
							border: 1px solid #ccc;
							margin: 0;
							cursor: pointer;
							box-sizing: border-box;
							display: block;
						}
					}
				}

				.description {
					text-align: right;
					margin-top: 10px;
				}

			}
		}


	}

}
