/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

#primary-menu li a {
	font-size: 12px;
	font-family: Tahoma, sans-serif;
	text-transform: uppercase;
}
