.swiper-slider {
	overflow: hidden;
}

.swiper-slide.post {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
	bottom: -40px;
}

.swiper-button{
	&-prev {
		&--candidates {
			left: -50px;
		}
	}

	&-next {
		&--candidates {
			right: -50px;
		}
	}
}
